@model IEnumerable<Gerenciador_Aniversario.Models.Pessoa>

@{
    ViewBag.Title = "Lista de Pessoas";
}

<h2>Lista de Pessoas</h2>

<p>
    @Html.ActionLink("Adicionar Pessoa", "Create")
</p>

<form action="/Pessoa/Index" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" name="query" id="query" placeholder="Digite o nome ou parte do nome...">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtAniversario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtAniversario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PessoaID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.PessoaID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.PessoaID })
        </td>
    </tr>
}

</table>
